<div class="container text-center">
  <form action="/answer" class="form-inline">
    <label for="question">Speak to your coach</label>
    <input type="text" id="question" class="form-control"  name="query" placeholder="what time is it?">
    <input type="submit" value="Go on!" class="btn btn-primary">
  </form>
</div>
